<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidarEmpleadoServlet</servlet-name>
        <servlet-class>com.appweb.servlet.ValidarEmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarProductoServlet</servlet-name>
        <servlet-class>com.appweb.servlet.InsertarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProductoServlet</servlet-name>
        <servlet-class>com.appweb.servlet.ListarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <servlet-class>com.appweb.servlet.EliminarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarProductoServlet</servlet-name>
        <servlet-class>com.appweb.servlet.ActualizarProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerProductoServlet</servlet-name>
        <servlet-class>com.appweb.servlet.VerProductoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarRespuestaServlet</servlet-name>
        <servlet-class>com.appweb.servlet.InsertarRespuestaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidarEmpleadoServlet</servlet-name>
        <url-pattern>/validarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarProductoServlet</servlet-name>
        <url-pattern>/insertarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProductoServlet</servlet-name>
        <url-pattern>/listarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProductoServlet</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarProductoServlet</servlet-name>
        <url-pattern>/actualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerProductoServlet</servlet-name>
        <url-pattern>/verProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarRespuestaServlet</servlet-name>
        <url-pattern>/insertarRespuesta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
